extends ../layout

block content
    h2 Lista de Estudiantes
        table.table
            thead
                tr
                    th Nombre
                    th Apellidos
                    th Edad
                    th Email
                    th Nº matrícula
                    th Acciones
            tbody
                each student, index in students
                    tr
                        td #{student.nombre}
                        td #{student.apellidos}
                        td #{student.edad}
                        td #{student.email}
                        td #{student.matricula}
                        td
                            a.btn.btn-sm.btn-success.mr-2(href="/students/"+student.id) Detalles
                            a.btn.btn-sm.btn-warning(href="/students/delete/"+student.id) Borrar